@import './reset.css';
@import './base.css';

.structure {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    font-size: 2.25rem;
    font-weight: 700;
}

h4{
    font-size: 1.625rem;
    font-weight: 700;
}